* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 560px;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
}

h3 {
  display: flex;
  justify-content: center;
}

.buttonDiv {
  display: flex;
  justify-content: center;
}

ol {
  padding: 0;
  margin: 0;
  list-style: inside decimal;
}

ol li {
  padding: 10px 5px;
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

button {
  margin-top: 20px;
  background: #10b981;
  color: #fff;
  padding: 8px 16px;
  border: 0;
  border-radius: 6px;
}

.marked {
  background-color: greenyellow
}